[submodule "vendor/trollworks-sdk-core"]
	path = vendor/trollworks-sdk-core
	url = https://github.com/trollworks/sdk-core.git
[submodule "vendor/trollworks-sdk-backend-sdl"]
	path = vendor/trollworks-sdk-backend-sdl
	url = https://github.com/trollworks/sdk-backend-sdl.git
[submodule "vendor/physfs/upstream"]
	path = vendor/physfs/upstream
	url = https://github.com/icculus/physfs.git
